@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Sansita|Snippet|Quicksand|Abel");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif; }

html, body {
  height: 100%;
  background: black;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  margin: 0; }

a {
  color: black;
  text-decoration: underline;
  font-weight: bold; }
  a.whiteLink {
    color: white; }

#storyOverlay {
  z-index: 100; }
  #storyOverlay #storyTextHolder {
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    color: black; }

#mapOverlay {
  z-index: 50; }
  #mapOverlay #navigationMap {
    padding: 0;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%; }
    #mapOverlay #navigationMap img {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #mapOverlay #navigationMap #mapNodeHolder {
      height: 100%;
      position: relative; }
      #mapOverlay #navigationMap #mapNodeHolder .mapNode {
        position: absolute;
        margin: 0 auto;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.8);
        font-family: "Fjalla One", sans-serif;
        z-index: 5;
        border-radius: 50%; }
        #mapOverlay #navigationMap #mapNodeHolder .mapNode.foundMapNode {
          border: 2px #00A990 solid; }

#mapButton {
  position: fixed;
  top: 0.3em;
  left: 0.3em;
  cursor: pointer;
  color: #00A990;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  background: url(../images/Kailash_UI_Icons.png);
  background-size: 200% 200%;
  background-position: 100% 0; }
  #mapButton #dropDown {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 34px;
    top: 0;
    list-style: none;
    width: 145px;
    padding: 0 0.1em 0.1em 0.2em; }
    #mapButton #dropDown li {
      margin: 2px auto 4px; }
      #mapButton #dropDown li:hover {
        text-decoration: underline; }
  #mapButton.opened #dropDown {
    display: block; }

#fieldGuideInformationButton {
  position: fixed;
  top: 0.3em;
  right: 0.3em;
  background: url(../images/Kailash_UI_Icons.png);
  background-size: 200% 200%;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
  text-align: center; }
  #fieldGuideInformationButton.newInformation {
    border: solid 2px #00A990; }

.overlayText {
  padding: 0.2em 1.2em 1.2em;
  overflow: auto;
  background-color: white;
  border-radius: 24px;
  color: #B3262A;
  height: 85%; }
  .overlayText h1 {
    font-size: 2em;
    margin-bottom: 0.3em; }
  .overlayText p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
    font-family: "Abel", sans-serif; }
  .overlayText a.navigation {
    cursor: pointer;
    text-decoration: underline;
    color: black; }

#descriptionBox {
  z-index: 100; }
  #descriptionBox.opened {
    display: table; }
  #descriptionBox .contentCentererDiv .overlayText p {
    line-height: 1.05em; }

#loadingScreen {
  background: #f7f7f7;
  text-align: center;
  height: 100%; }
  #loadingScreen img {
    margin: 20% 0;
    width: 50%; }
  #loadingScreen h1 {
    background: #00A990;
    color: #00A990;
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 10px 0; }
    #loadingScreen h1 span {
      display: inline-block;
      background: #f7f7f7;
      height: 1.3em;
      font-family: "Snippet", sans-serif;
      padding: 4px 8px;
      vertical-align: baseline; }
  #loadingScreen h2 {
    background: #996666;
    font-size: 0.8em;
    color: #996666;
    line-height: 0.7em; }
    #loadingScreen h2 span {
      display: inline-block;
      background: #f7f7f7;
      height: 1.3em;
      font-family: "Quicksand", sans-serif;
      padding: 4px 10px;
      vertical-align: baseline; }
  #loadingScreen #loadingProgress {
    color: #996666;
    margin-top: 10px; }
  #loadingScreen #spacerLine {
    height: 10px;
    background: #fb9f7d;
    margin: 32px 0; }
  #loadingScreen h3 {
    color: #ccc;
    font-family: "Abel", sans-serif;
    font-size: 0.8em; }

#bottomNavigation {
  position: fixed;
  bottom: 1.1em;
  width: 100%;
  text-align: center;
  height: 6px;
  background: #00A990; }
  #bottomNavigation .node {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    border: 6px solid #00A990;
    position: relative;
    top: -200%; }
    #bottomNavigation .node.visited {
      cursor: pointer;
      background: #00A990; }
      #bottomNavigation .node.visited.currentNavNode {
        border-color: #fb9f7d; }

.section.fullpage {
  width: 100%;
  height: 100%;
  background-image: url(../images/black.gif);
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -moz-transition: background-image 1s;
  -webkit-transition: background-image 1s;
  -o-transition: background-image 1s;
  transition: background-image 1s; }
.section.current {
  position: relative; }
.section .choiceNode {
  background: url(../images/Kailash_InScene_Icons.png);
  background-size: 400% 100%;
  cursor: pointer;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  position: relative;
  color: black;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%; }
  .section .choiceNode.type-hand {
    background-position: 0%; }
  .section .choiceNode.type-tree {
    background-position: 33%; }
  .section .choiceNode.type-tower {
    background-position: 66%; }
  .section .choiceNode.type-symbol {
    background-position: 100%; }
  .section .choiceNode.type-book {
    background: url(../images/guidebookIcon.png);
    background-size: 100% 100%; }
  .section .choiceNode.type-arrow-top {
    background-image: url(../images/path_arrows.png);
    background-position: top right;
    background-size: 200% 200%;
    background-color: none; }
  .section .choiceNode.type-arrow-left {
    background-image: url(../images/path_arrows.png);
    background-position: bottom right;
    background-size: 200% 200%;
    background-color: none; }
  .section .choiceNode.type-arrow-right {
    background-image: url(../images/path_arrows.png);
    background-size: 200% 200%;
    background-color: none; }
  .section .choiceNode.type-arrow-bottom {
    background-image: url(../images/path_arrows.png);
    background-position: bottom left;
    background-size: 200% 200%;
    background-color: none; }

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .overlay .contentCentererDiv {
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 1em; }

.hidden {
  display: none; }

/*# sourceMappingURL=basicStyles.css.map */
