@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Sansita|Snippet|Quicksand|Abel");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif; }

html, body {
  height: 100%;
  background: white;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  margin: 0; }

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .overlay .contentCentererDiv {
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 1em; }

#storyOverlay {
  z-index: 100; }
  #storyOverlay #storyTextHolder {
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    color: black; }

#mapOverlay {
  z-index: 50; }
  #mapOverlay #navigationMap {
    position: relative;
    background-image: url(../images/kailashMapPlaceholder.jpg);
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat; }
    #mapOverlay #navigationMap .mapNode {
      position: relative;
      margin: 0 auto;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background: #CCD;
      font-family: "Fjalla One", sans-serif;
      z-index: 5; }
      #mapOverlay #navigationMap .mapNode span {
        display: none; }
      #mapOverlay #navigationMap .mapNode:hover span {
        display: block; }

#mapButton {
  position: fixed;
  top: 0.3em;
  left: 0.3em;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  color: #00A990;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px; }
  #mapButton #dropDown {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 34px;
    top: 0;
    list-style: none;
    width: 145px;
    padding: 0 0.1em 0.1em 0.2em; }
    #mapButton #dropDown li {
      margin: 2px auto 4px; }
      #mapButton #dropDown li:hover {
        text-decoration: underline; }
  #mapButton.opened #dropDown {
    display: block; }

#loadingScreen {
  background: #f7f7f7;
  text-align: center;
  height: 100%; }
  #loadingScreen img {
    margin: 20% 0;
    width: 40%; }
  #loadingScreen h1 {
    border-left: 100px solid #00A990;
    border-right: 100px solid #00A990;
    color: #00A990;
    font-size: 2em;
    margin: 10px 0;
    font-family: "Snippet", sans-serif; }
  #loadingScreen h2 {
    border-left: 100px solid #996666;
    border-right: 100px solid #996666;
    font-size: 1.5em;
    color: #996666;
    font-family: "Quicksand", sans-serif; }
  #loadingScreen #loadingProgress {
    color: #996666;
    margin-top: 10px; }
  #loadingScreen #spacerLine {
    height: 10px;
    background: #fb9f7d;
    margin: 32px 0; }
  #loadingScreen h3 {
    color: #ccc;
    font-family: "Abel", sans-serif; }

.section.fullpage {
  width: 100%;
  height: 100%;
  background-image: url(../images/Cotopaxi_with_horse.jpg);
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -moz-transition: background-image 1s;
  -webkit-transition: background-image 1s;
  -o-transition: background-image 1s;
  transition: background-image 1s; }
.section.current {
  position: relative; }
.section #descriptionBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 95%;
  -moz-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2em 1em;
  z-index: 10; }
  .section #descriptionBox.opened {
    top: 15%; }
.section .choiceNode {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin: 0 auto;
  width: 120px;
  height: 32px;
  position: relative;
  color: black;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 5px; }
  .section .choiceNode .choiceNodeArrow {
    background-image: url(../images/path_arrows.png);
    width: 32px;
    height: 32px;
    position: absolute; }
    .section .choiceNode .choiceNodeArrow.position-top {
      left: 50px;
      top: -32px;
      background-position: top right; }
    .section .choiceNode .choiceNodeArrow.position-left {
      left: -32px;
      top: 0;
      background-position: bottom right; }
    .section .choiceNode .choiceNodeArrow.position-right {
      left: 120px;
      top: 0; }
    .section .choiceNode .choiceNodeArrow.position-bottom {
      left: 50px;
      top: 32px;
      background-position: bottom left; }

.overlayText {
  padding: 0.2em 1.2em 1.2em; }
  .overlayText h1 {
    font-size: 3em; }
  .overlayText p {
    font-size: 1.3em;
    margin-bottom: 0.2em;
    font-family: "Abel", sans-serif; }
  .overlayText a.navigation {
    cursor: pointer;
    text-decoration: underline;
    color: black; }

.hidden {
  display: none; }

/*# sourceMappingURL=basicStyles.css.map */
