@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Snippet|Reem+Kufi");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif; }

html, body {
  height: 100%;
  background: black;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  margin: 0; }

a {
  color: black;
  text-decoration: underline;
  font-weight: bold; }
  a.whiteLink {
    color: white; }

#storyOverlay {
  z-index: 100; }
  #storyOverlay #storyTextHolder {
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    color: black; }

#mapOverlay {
  z-index: 50; }
  #mapOverlay #navigationMap {
    padding: 0;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%; }
    #mapOverlay #navigationMap img {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #mapOverlay #navigationMap #mapNodeHolder {
      height: 100%;
      position: relative; }
      #mapOverlay #navigationMap #mapNodeHolder .mapNode {
        position: absolute;
        margin: 0 auto;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background: rgba(255, 255, 255, 0.8);
        font-family: "Fjalla One", sans-serif;
        z-index: 5;
        border-radius: 50%; }
        #mapOverlay #navigationMap #mapNodeHolder .mapNode.foundMapNode {
          border: 2px #00A990 solid; }

#mapButton {
  position: fixed;
  top: 0.3em;
  right: 0.3em;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background: url(../images/navIcons.png);
  background-size: 200% 100%;
  background-position: top right;
  background-color: #B3262A;
  border-radius: 32px;
  cursor: pointer; }
  #mapButton #dropDown {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 34px;
    top: 0;
    list-style: none;
    width: 145px;
    padding: 0 0.1em 0.1em 0.2em; }
    #mapButton #dropDown li {
      margin: 2px auto 4px; }
      #mapButton #dropDown li:hover {
        text-decoration: underline; }
  #mapButton.opened #dropDown {
    display: block; }

#fieldGuideInformationButton {
  position: fixed;
  top: 0.3em;
  left: 0.3em;
  background: url(../images/navIcons.png);
  background-size: 200% 100%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-color: #B3262A;
  border-radius: 32px; }

#descriptionBox {
  z-index: 100;
  display: none; }
  #descriptionBox.opened {
    display: table; }
  #descriptionBox .contentCentererDiv .overlayText p {
    line-height: 1.05em; }

#loadingScreen {
  background: white;
  text-align: center;
  height: 100%; }
  #loadingScreen img {
    margin: 20% 0;
    width: 60%; }
  #loadingScreen h1 {
    background: #008AB0;
    color: #008AB0;
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 10px 0; }
    #loadingScreen h1 span {
      display: inline-block;
      background: white;
      height: 1.35em;
      font-family: "Snippet", sans-serif;
      padding: 4px 8px;
      vertical-align: baseline; }
  #loadingScreen h2 {
    background: #B3262A;
    font-size: 0.8em;
    color: #B3262A;
    line-height: 0.7em; }
    #loadingScreen h2 span {
      display: inline-block;
      background: white;
      height: 1.35em;
      font-family: "Fjalla One", sans-serif;
      padding: 4px 10px;
      vertical-align: baseline; }
  #loadingScreen #loadingProgress {
    color: #996666;
    margin-top: 10px; }
  #loadingScreen #spacerLine {
    height: 10px;
    background: #F0BF08;
    margin: 8px 0; }
  #loadingScreen #topBar {
    background: #B3262A;
    margin-bottom: 8px;
    height: 10%; }
  #loadingScreen h3 {
    color: rgba(255, 255, 255, 0.8);
    background: #F0BF08;
    font-family: "Reem Kufi", sans-serif;
    font-size: 0.8em;
    padding: 10% 0; }

#bottomNavigation {
  position: fixed;
  bottom: 1.1em;
  width: 100%;
  text-align: center;
  height: 6px;
  background: black; }
  #bottomNavigation .node {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    border: 6px solid black;
    position: relative;
    top: -200%; }
    #bottomNavigation .node.visited {
      cursor: pointer;
      background: #F0BF08;
      border-color: #F0BF08; }
    #bottomNavigation .node.currentNavNode {
      border-color: #F0BF08;
      background: black; }

.section.fullpage {
  width: 100%;
  height: 100%;
  background-image: url(../images/black.gif);
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -moz-transition: background-image 1s;
  -webkit-transition: background-image 1s;
  -o-transition: background-image 1s;
  transition: background-image 1s; }
.section.current {
  position: relative; }
.section .choiceNode {
  background: url(../images/navArrows.png);
  background-size: 300% 100%;
  background-color: none;
  cursor: pointer;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
  margin-left: -24px; }
  .section .choiceNode.type-arrow-up {
    background-position: top center;
    bottom: 12%;
    left: 50%; }
  .section .choiceNode.type-arrow-left {
    background-position: top left;
    bottom: 8%;
    left: 40%; }
  .section .choiceNode.type-arrow-right {
    background-position: top right;
    bottom: 8%;
    left: 60%; }

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .overlay .contentCentererDiv {
    display: table-cell;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 1em; }

.overlayText {
  padding: 0.2em 1.2em 1.2em;
  overflow: auto;
  background-color: white;
  border-radius: 16px;
  color: #B3262A;
  max-height: 85%; }
  .overlayText.navigation {
    height: auto; }
  .overlayText h1 {
    font-size: 2em;
    margin-bottom: 0.3em; }
  .overlayText p {
    font-size: 0.9em;
    margin-bottom: 0.3em;
    font-family: "Abel", sans-serif; }
  .overlayText a.navigation {
    cursor: pointer;
    text-decoration: underline;
    color: black; }

.hidden {
  display: none; }

/*# sourceMappingURL=basicStyles.css.map */
