@import foundation
@import storyOverlay
@import loadingScreen

.section
	&.fullpage
		width: 100%
		height: 100%
		background-image: url(../images/Cotopaxi_with_horse.jpg)
		background-position: top center
		background-size: auto 100%
		background-repeat: no-repeat
		+transition(background-image, 1s)

	&.current
		position: relative
	#descriptionBox
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		top: 95%
		+transition( top, .3s)
		background: rgba(0, 0, 0, .5)
		padding: .2em 1em
		z-index: $descriptionZOrder
		&.opened
			top: 15%
	.choiceNode
		background: $white
		cursor: pointer
		margin: 0 auto
		width: 120px
		height: $basicSquare
		position: relative
		color: black
		line-height: $basicSquare
		vertical-align: middle
		padding: 0 5px
		.choiceNodeArrow
			background-image: url(../images/path_arrows.png)
			width: $basicSquare
			height: $basicSquare
			position: absolute
			&.position-top
				left: 60px
				top: -$basicSquare
				background-position: top right
			&.position-left
				left: -$basicSquare
				top: 0
				background-position: bottom left
			&.position-right
				left: 120px
				top: 0
			&.position-bottom
				left: 60px
				top: $basicSquare
				background-position: bottom right

.overlayText
	padding: .2em 1.2em 1.2em
	h1
		font-size: $titleSize
	p
		font-size: $textSize
		margin-bottom: .2em
		font-family: 'Abel', sans-serif
	a.navigation
		cursor: pointer
		text-decoration: underline
		color: black

.hidden
	display: none
