#bottomNavigation
	position: fixed
	bottom: 1.1em
	width: 100%
	text-align: center
	height: 6px
	background: white
	z-index: $UIZOrder
	.node
		width: $basicSquare
		height: $basicSquare
		display: inline-block
		background: black
		border-radius: 50%
		border: 6px solid black
		position: relative
		top: -200%
		&.visited
			cursor: pointer
			background: $yellow
			border-color: $yellow
		&.currentNavNode
			border-color: $yellow
			background: black

.gradient
	z-index: $gradientZOrder
	position: fixed
	height: 2em
	width: 100%
	display: none
	$firstGradientStop: rgba(0, 0, 0, .8)
	$lastGradientStop: transparent
	&#topGradient
		background: none
		background: -webkit-linear-gradient(top, $firstGradientStop, $lastGradientStop)
		background: -o-linear-gradient(top, $firstGradientStop, $lastGradientStop)
		background: -moz-linear-gradient(top, $firstGradientStop, $lastGradientStop)
		background: linear-gradient(top, $firstGradientStop, $lastGradientStop)
		top: 0
	&#bottomGradient
		background: none
		background: -webkit-linear-gradient(bottom, $firstGradientStop, $lastGradientStop)
		background: -o-linear-gradient(bottom, $firstGradientStop, $lastGradientStop)
		background: -moz-linear-gradient(bottom, $firstGradientStop, $lastGradientStop)
		background: linear-gradient(bottom, $firstGradientStop, $lastGradientStop)
		bottom: 0

#fullScreenClickBox
	width: 100%
	height: 100%
	background-color: transparent
	z-index: $clickAnywhereZOrder
	position: fixed
	top: 0
	left: 0