#bottomNavigation
	position: fixed
	bottom: .5em
	width: 100%
	text-align: center
	height: $basicSquare
	.node
		width: $basicSquare
		height: $basicSquare
		display: inline-block
		background: $white
		border-radius: 50%
		&.visited
			cursor: pointer
			background: $lightGreen
