#loadingScreen
	background: rgb(247, 247, 247)
	text-align: center 
	height: 100%
	img
		margin: 20% 0
		width: 40%
	h1
		border-left: 100px solid $lightGreen
		border-right: 100px solid $lightGreen
		color: $lightGreen
		font-size: 2em
		margin: 10px 0
		font-family: 'Snippet', sans-serif
	h2
		border-left: 100px solid $salmon
		border-right: 100px solid $salmon
		font-size: 1.5em
		color: $salmon
		font-family: 'Quicksand', sans-serif
	#loadingProgress
		color: $salmon
		margin-top: 10px
	#spacerLine
		height: 10px
		background: $lightOrange
		margin: $basicSquare 0
	h3
		color: #ccc
		font-family: 'Abel', sans-serif
