
#storyOverlay
	z-index: $descriptionZOrder
	#storyTextHolder
		width: 80%
		background: $white
		margin: 0 auto
		color: black

#mapOverlay
	z-index: $descriptionZOrder
	#navigationMap
		padding: 0
		position: absolute
		overflow: auto
		width: 100%
		height: 100%
		background-color: black
		img
			display: block
			height: 100%
			position: absolute
			top: 0
			left: 0
		#mapNodeHolder
			height: 100%
			position: relative
			.mapNode
				position: absolute
				margin: 0 auto
				cursor: pointer
				width: $basicSquare *.5
				height: $basicSquare*.5
				background: black
				z-index: $nodeZOrder
				border-radius: 50%
				border: 2px $yellow solid
				&.foundMapNode
					background: $yellow
					span
						display: block
						margin-left: $basicSquare*.5
						margin-top: -5px
				span
					display: none
					font-family: "Fjalla One", sans-serif
					width: 140px


#mapButton
	position: fixed
	top: .3em
	right: .3em
	cursor: pointer
	width: $basicSquare*2
	height: $basicSquare*2
	background: url(../images/navIcons.png)
	background-size: 200% 100%
	background-position: top right
	background-color: $deepRed
	border-radius: $basicSquare
	cursor: pointer
	z-index: $UIZOrder
	#dropDown
		display: none
		background: $white
		position: absolute
		left: $basicSquare + 2
		top: 0
		list-style: none
		width: 145px
		padding: 0 .1em .1em .2em
		li
			margin: 2px auto 4px
			&:hover
				text-decoration: underline
	&.opened #dropDown
		display: block

#fieldGuideInformationButton
	position: fixed
	top: .3em
	left: .3em
	background: url(../images/navIcons.png)
	background-size: 200% 100% 
	width: $basicSquare*2
	height: $basicSquare*2
	cursor: pointer
	background-color: $deepRed
	border-radius: $basicSquare
	z-index: $UIZOrder
	
#descriptionBox
	z-index: $descriptionZOrder
	display: none
	&.opened
		display: table
	.contentCentererDiv .overlayText
		p
			line-height: $textSize + .15

#finalTextNode
	img
		width: $basicSquare*2
		height: $basicSquare*2
		display: block
	h1
		border-left: 4px solid $deepRed
		padding-left: 1em
		margin-left: 1em
		color: $deepRed
		font-size: 1.3em
	h2
		margin-left: 22px
		color: $teal
		font-size: 1.2em
	div.dividingYellowLine
		background-color: $yellow
		height: 8px
		border-radius: 4px
		margin: $basicSquare
	a
		margin-left: 1.3em
		font-size: .9em
		display: block
		cursor: pointer
		&#playAgain
			color: $teal
		&#checkMap
			text-decoration: none
			color: $lightGreen
			height: $basicSquare*2
			span#mapIcon
				display: inline-block
				margin-top: $basicSquare*-.5
				float: right
				width: $basicSquare*2
				height: $basicSquare*2
				background: url(../images/navIcons.png)
				background-size: 200% 100%
				background-position: top right
				background-color: $deepRed
				border-radius: 50%

