.overlay
	display: none
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	.contentCentererDiv
		display: table-cell
		vertical-align: middle
		background: rgba(0, 0, 0, .5)
		padding: .2em 1em

#storyOverlay
	z-index: 100
	#storyTextHolder
		width: 80%
		background: $white
		margin: 0 auto
		color: black

#mapOverlay
	z-index: 50
	#navigationMap
		position: relative
		background-image: url(../images/Map_Darker.png)
		background-position: top center
		background-size: auto 100%
		background-repeat: no-repeat
		.mapNode
			position: relative
			margin: 0 auto
			cursor: pointer
			width: $basicSquare
			height: $basicSquare
			background: #CCD
			font-family: "Fjalla One", sans-serif
			z-index: $nodeZOrder
			span
				display: none
			&:hover span
				display: block

#mapButton
	position: fixed
	top: .3em
	left: .3em
	cursor: pointer
	color: $lightGreen
	width: $basicSquare
	height: $basicSquare
	font-size: $basicSquare
	line-height: $basicSquare
	#dropDown
		display: none
		background: $white
		position: absolute
		left: $basicSquare + 2
		top: 0
		list-style: none
		width: 145px
		padding: 0 .1em .1em .2em
		li
			margin: 2px auto 4px
			&:hover
				text-decoration: underline
	&.opened #dropDown
		display: block

#fieldGuideInformationButton
	position: fixed
	top: .3em
	right: .3em
	background: $white
	width: $basicSquare
	height: $basicSquare
	font-size: $basicSquare
	line-height: $basicSquare
	cursor: pointer
	text-align: center
	color: $lightGreen
	&.newInformation
		border: solid 2px $lightGreen
	#descriptionBox
		text-align: left
		position: absolute
		width: 300px
		display: none
		background: rgba(0, 0, 0, .5)
		padding: .2em 1em
		z-index: $descriptionZOrder
		right: $basicSquare +2 
		top: 0
		&.opened
			display: block
		h1
			font-size: 1em
			margin-bottom: .3em
		p
			font-size: .5em
			line-height: 1em


